<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>About</h1>

    <div class="links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
    </div>

    <h2>Rowan Atkinson</h2>

    <p>Born 6. Januar 1955 in Consett</p>

    <img class="image" src="/img/rowan-atkinson.jpg">

    <p class="text">Rowan Sebastian Atkinson CBE (born 6 January 1955) is an English actor, comedian, and writer. He is
        best known for his work on the sitcoms Blackadder (1983–1989) and Mr. Bean (1990–1995). Atkinson first came to
        prominence in the BBC sketch comedy show Not the Nine O'Clock News (1979–1982), receiving the 1981 BAFTA for
        Best Entertainment Performance, and via his participation in The Secret Policeman's Ball (1979). His other work
        includes the James Bond film Never Say Never Again (1983), playing a bumbling vicar in Four Weddings and a
        Funeral (1994), voicing the red-billed hornbill Zazu in The Lion King (1994), and playing jewellery salesman
        Rufus in Love Actually (2003). Atkinson also featured in the BBC sitcom The Thin Blue Line (1995–1996). His work
        in theatre includes the role of Fagin in the 2009 West End revival of the musical Oliver!.
        
    </p>

    <p >From <a class="link-wikipedia" href="https://en.wikipedia.org/">Wikipedia.org</a></p>
</body>

</html>