<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Gallery</h1>

    <div class="links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
    </div>

    <div class="gallery">
        <img class="gallery-image" src="/img/mrbean.jpg">
        <img class="gallery-image" src="/img/jony-english.jpg">
        <img class="gallery-image" src="/img/scooby-doo.jpg">
        <img class="gallery-image" src="/img/four-weddings.jpg">
    </div>

</body>
</html>