<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Works</h1>

    <div class="links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
    </div>

    <h2>Films</h2>

    <ul>
        <li>Not the Nine O'Clock News</li>
        <li>Blackadder</li>
        <li>Never Say Never Again</li>
        <li>Mr. Bean</li>
        <li> The Witches</li>
        <li>The Lion King</li>
        <li>Johnny English</li>
        <li>Mr. Bean's Holiday</li>
    </ul>

    <h2>Theatre</h2>
    <ul>
        <li>Rowan Atkinson in Revue</li>
        <li>The Nerd</li>
        <li>Rowan Atkinson at the Atkinson</li>
        <li>The Sneeze</li>
        <li>Oliver!</li>
        <li>Quartermaine's Terms</li>
    </ul>

</body>
</html>